$wie:#5402ed;
$pes:#467a24;
$cs:#fca51f;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$dullGray: rgb(78, 78, 78);

// Font for all Elements
* {
  font-family: "Montserrat", sans-serif;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.society-img{
  max-width: 200px;
  @media (max-width : 768px) {
    max-width: 8rem;
  }
}
main{
  min-height: 80vh;
}
.dropdown-item {
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.rounded-xl {
  border-radius: 0.75rem;
  &-top{
    border-radius: 0.75rem 0.75rem 0rem 0rem;
  }
  &-bottom{
    border-radius: 0rem 0rem 0.75rem 0.75rem;
  }
}
.underline {
  background: $dullGray;
  width: 12rem;
  height: 0.25rem;
  border-radius: 1rem;
}
.logo {
  width: 3.5rem;
  object-fit: contain;
}
.banner {
  @extend.center;
  min-height: 25vh;
  background: rgb(26, 26, 47);
  margin-top: 80px;
  color: white;
  font-size: calc(2rem + 2vw);
  font-weight: 900;
}
@media (min-width: 992px) {
  .flex-half {
    flex: 1 1 100%;
  }
}
.landing {
  height: 60vh;
  .img {
    height: 100%;
  }
}
.col{
  padding: 0rem;
}
.card {
  width: 18rem;
  border-radius: 0.75rem;
  min-height: 18rem;
  margin: 1rem;
  &-img {
    border-radius: 1rem 1rem 0rem 0rem;
  }
}
.cardTitle {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  font-size: larger;
  font-weight: 900;
  color: rgb(33, 44, 44);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.posterContainer {
  display: flex;
  justify-content: center;
  .poster {
    max-width: 768px;
  }
}
